version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lacale-helper-v2-web
    ports:
      - "${WEB_PORT:-8088}:80"
    depends_on:
      - api
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: lacale-helper-v2-api
    environment:
      - MAX_UPLOAD_MB=${MAX_UPLOAD_MB:-4096}
    restart: unless-stopped
